<mat-card style="margin-top: 20px">
  <mat-card-content>
    <form [formGroup]="form">
      <div class="container">
        <div class="left">
          <!-- left -->

          <ng-container>
            <mat-form-field appearance="fill">
              <mat-label>Key Name</mat-label>
              <input formControlName="key" matInput />
            </mat-form-field>
          </ng-container>

          <ng-container>
            <mat-form-field appearance="fill">
              <mat-label>Type of Field Required</mat-label>
              <mat-select matNativeControl formControlName="typeOfField">
                <mat-option value="input">Input</mat-option>
                <mat-option value="textarea">Text Area</mat-option>
                <mat-option value="checkbox">Check Box</mat-option>
                <mat-option value="radio">Radio Button</mat-option>
                <mat-option value="toggle">Toggle Button</mat-option>
                <mat-option value="datepicker">Date Picker</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <ng-container formGroupName="props">
            <div class="labelplace">
              <mat-form-field appearance="fill">
                <mat-label>Label</mat-label>
                <input formControlName="label" matInput />
              </mat-form-field>

              <div class="place">
                <mat-form-field appearance="fill">
                  <mat-label>Placeholder</mat-label>
                  <input formControlName="placeholder" matInput />
                </mat-form-field>
              </div>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput />
            </mat-form-field>

            <mat-checkbox formControlName="is_required"
              >Required Field?</mat-checkbox
            >
          </ng-container>

          <ng-container> </ng-container>

          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <br />
          <br />
        </div>
        <div class="right">
          <!-- right -->
          <ng-container>
            <!-- <mat-form-field appearance="fill" class="right1">
              <mat-label>Type of Field Required</mat-label>
              <mat-select
                matNativeControl
                formArrayName="option_extra"
                multiple
              >
              </mat-select>
            </mat-form-field> -->

            <div
              class="selectOption"
              *ngFor="let o of optionArr; let i = index"
              [formGroup]="o"
            >
              <div class="LabelDesOption">
                <mat-form-field appearance="fill">
                  <mat-label>Value</mat-label>
                  <input formControlName="value" matInput />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Label</mat-label>
                  <input formControlName="label" matInput />
                </mat-form-field>
              </div>

              <button
                mat-raised-button
                color="warn"
                style="margin-top:10px;margin-left:10px"
                (click)="removeOptions(i)"
              >
                <mat-icon fontIcon="remove"></mat-icon>
              </button>
            </div>
            <button
              style="margin-left:15px"
              mat-raised-button
              color="primary"
              (click)="addOptions()"
            >
              Add
            </button>
          </ng-container>
        </div>
      </div>
    </form>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="onAccept()"
    >
      Accept
    </button>
  </mat-card-content>
</mat-card>

<hr />

<mat-card>
  <mat-card-content>
    <h2>Preview</h2>
    <form [formGroup]="form2">
      >
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form2"
      >
      </formly-form>
    </form>
  </mat-card-content>
</mat-card>
