.container {
  display: flex;
  flex-direction: row;
}

.left {
  margin-right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right {
  width: 50%;
}

.right1 {
  width: 100%;
}

.selectOption {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.labelplace {
  display: flex;
  flex-direction: row;
}

.place {
  margin-left: 15px;
}
